/* This file is for your main application css. */

/*@import "./phoenix.css";*/
/*@import "./alchemy-book.css";*/

@font-face {
  font-family: "proxima_novalight";
  src: url("/fonts/proximanova-light-webfont.eot");
  src: url("/fonts/proximanova-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/proximanova-light-webfont.woff2") format("woff2"),
    url("/fonts/proximanova-light-webfont.woff") format("woff"),
    url("/fonts/proximanova-light-webfont.ttf") format("truetype"),
    url("/fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novaregular";
  src: url("/fonts/proximanova-regular-webfont.eot");
  src: url("/fonts/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/proximanova-regular-webfont.woff2") format("woff2"),
    url("/fonts/proximanova-regular-webfont.woff") format("woff"),
    url("/fonts/proximanova-regular-webfont.ttf") format("truetype"),
    url("/fonts/proximanova-regular-webfont.svg#proxima_novaregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novabold";
  src: url("/fonts/proximanova-bold-webfont.eot");
  src: url("/fonts/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/proximanova-bold-webfont.woff2") format("woff2"),
    url("/fonts/proximanova-bold-webfont.woff") format("woff"),
    url("/fonts/proximanova-bold-webfont.ttf") format("truetype"),
    url("/fonts/proximanova-bold-webfont.svg#proxima_novabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: proxima_novaregular;
}

code {
  word-wrap: break-word;
}

#client_root {
  height: 90vh;
  width: 90vw;
  font-size: 26px;
  padding: 5vw 5vw 5vw 5vw;
  background-image: url("/images/image2.png");
  background-position: center;
  background-size: cover;
}

.client-container {
  height: 100%;
  width: 100%;
  display: grid;
  color: #2C3E6B;
  /*align-items: center;
  justify-content: center;*/
}

.client-heading {
  text-transform: capitalize;
  font-family: proxima_novabold;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
}

.counter-container {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.client-counter {
  font-size: 72px;
  margin: 10px;
  text-transform: uppercase;
  font-family: proxima_novabold;
  font-weight: 700;
}
